*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e4e5e659, #00416A), url(fisica\ port.png);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e4e5e659, #00416A), url(fisica\ port.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
   position: relative;
   background-attachment: fixed;
}
nav{
    text-align: right;
    padding: 20px 50px 0 0;
}
nav >a{
    color: #fff;
    font font-weight: 300;
    text-decoration:none;
    margin-right: 10px;
}
nav >a:hover{
    text-shadow: 4px 5px 4px black;
    color:red;
}
body{
    font-family: 'open sans';
}
.video-container{
    display: flex;
    flex-wrap: wrap;
}
.portafolio{
    background: #f2f2f2;

}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

iframe{
    width: 500px;
    height: 300px;
}
.imagen-port{
    width: 29%;
    height: 300px;
    margin-bottom: 100px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
   
    
}


.hover-galeria img{
    width: 50px;
}
.hover-galeria p{
    color: #fff;
}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .contenido-textos{
        width: 90%;

    }
    .imagen-about-us{
        width: 90%;
    }
    /*Galeria*/
    .imagen-port{
        width: 44%;
    }
}
.medidas{
    
    font-size: 20px;
    
    color:black;

    
}